*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#reviews{
    width: 100%;
    height: 100vh;
    background-color: hsl(210, 36%, 96%);
}
.review-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 700px;
    height: 500px;
    margin:0px auto;
    background-color: white;
    border-radius: 10px;
}
.review-main-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 10px -5px #03e3fc;
    object-fit: cover;
    position: relative;
}

.review-main-image {
    width: 200px;
    height: 200px;
}
.review-header{
    color: 
    #454e4f
    ;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    padding: 10px;
    letter-spacing: 2px;
}
.review-main-info-header{
    font-size: 20px;
    letter-spacing: 5px;
    color: #454e4f;
    font-weight: 500;
    margin: 10px;
}
.review-main-info-job{
    color: #03e3fc;
}
.review-main-info-icons{
    margin: 0px auto;
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.review-main-info i{
    color: #03e3fc;
    margin-left: 5px;
    font-size: 20px;
}
.review-main-info i:hover{
    color: hsl(205, 78%, 60%);
}
.review-main-info-parag{
    color: #386a8f;
    word-spacing: 2px;
    padding: 20px;
    line-height: 1.5;
}
.btn{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    color: #03e3fc;
    border: 2px solid #03e3fc;
    background-color: white; 
    margin-top: 20px;

}
.count{
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: #03e3fc;
    text-align: center;
    align-items: center;
}